@import "footer/book-footer.css";

.items {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
}

.item {

    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    color: #999;
    padding: 10px 10px 10px 20px;
    margin-left: 40px;
    margin-top: 40px;
    width: 430px;
    max-width: 430px;
    height: 220px;;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.12);
}

.item:hover .cover-image{

}

.item:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
}

.item .cover-image {
    width: 132px;
    height: 187px;
    position: relative;
    top: -25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.12);
    transition: all .2s ease-in-out;
}

.item .brief {
    padding: 10px 10px 10px 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

}

.title {
    color: #5d5d5d;
    flex: 1;
    flex-grow: 0;
    text-align: left;
    padding-bottom: 10px;
    font-size: large;
}

.gene {
    flex: 1;
    flex-grow: 0;
    text-align: left;
    /*padding-bottom: 10px;*/
    font-size: 15px;

}

.description {
    text-align: left;
    font-size: 14px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

